<%- include('../partials/header') %>

<section>
  <br />
  <h4>Airline</h4>
  <div><%=flight.airline %></div>
  <h4>Airport</h4>
  <div><%=flight.airport %></div>
  <h4>Flight Number</h4>
  <div><%=flight.flightNo %></div>
  <h4>Departs</h4>
  <div><%= flight.departs %></div>
</section>

<%- include('../partials/footer') %>
